# Backup files #
################
*~


# Logs and databases #
######################
log/
*.log




# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Flask stuff:
instance/
.webassets-cache

# pyenv
.python-version

# mypy
.mypy_cache/
